/* White  #fffff*/
/* Black #00000 */
/* Background rgb(204, 204, 144); */
/* Fonts:
font-family: 'Ceviche One', cursive;
font-family: 'Shojumaru', cursive;
font-family: 'Oleo Script', cursive;
font-family: "Nunito", sans-serif;
*/

.shojumuara {
  font-family: "Shojumaru", cursive;
}

.info {
  background: black;
}
.primary-color {
  color: white;
}
.primary-color-2 {
  color: red;
}
.primary-color-3 {
  color: black;
}
.primary-color-4 {
  color: blue;
}
.about-us-message {
  color: rgb(44, 41, 41);
}
body {
  font-family: "Nunito", sans-serif;
  color: white;
  background: linear-gradient(rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.7)),
    url(../img/background-2.jpeg) center/cover fixed no-repeat;
}

.order-online {
  color: white;
}

.info h2 {
  word-spacing: 0.6rem;
}

.info a {
  transition: color 0.4s ease-in-out;
}
.info a:hover {
  color: red;
}
/* Header Section with overlay */
#header {
  background-image: url(/img/background-2.jpeg);
  min-width: calc(100vh - 5px);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  font-family: "Shojumaru", cursive;
}
.height-90 {
  min-height: calc(100vh - 94px);
}
.banner h1 {
  border-top: 6px solid white;
  border-bottom: 6px solid white;
  animation: bounceIn;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.sushi-btn {
  animation: bounceIn;
  animation-duration: 1s;
}
.main-btn {
  color: white;
  font-size: 2rem;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
}
.main-btn:hover {
  color: red;
  border: 2px solid white;
  background: black;
}

.header-link {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: all 1s ease;
  animation: fromBottom;
  animation-duration: 1s;

  animation-iteration-count: infinite;
}
.header-link:hover {
  color: #242424;
}
@keyframes fromBottom {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* *********navbar******* */
.navbar {
  background: rgb(243, 96, 96);
  padding: 20px 20px;
  transition: all 1s ease;
}
.navbar-background {
  padding: 5px 20px;
}
.navbar-brand {
  font-size: 30px;
}
.navbar-brand:hover {
  color: black;
  transition: all 0.5s ease-in-out;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: all 0.7s ease;
  font-size: 23px;
}

.nav-link:hover {
  color: black;
}
.nav-btn {
  background: transparent;
  color: white;
  border: 2px solid white;
  font-size: 23px;
}
.nav-btn:hover {
  color: black;
  border: 2px solid black;
}

.toggler-btn {
  border: 2px solid white;
  padding: 5px;
  transition: all 2s ease;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: black;
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  transform: rotate(360deg);
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* ***** MENU ITEMS ****** */
.item-container {
  position: relative;
  /* for the link */
  overflow: hidden;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  transition: all 2s ease;
}
.item-img {
  transition: all 2s ease;
}
.item-container:hover .item-img {
  transform: scale(1.2);
  opacity: 1;
}
.item-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem solid;
  border-top: 3px solid black;
  border-bottom: 3px solid red;
  transition: all 2s ease;
  opacity: 0;
}
.item-container:hover .item-link {
  opacity: 1;
}
.item-link:hover {
  color: white;
  border: 3px solid white;
  border-bottom: 3px solid red;
  background: black;
}

.item-container:hover {
  outline: 10px solid purple;
}
/* ******** MENU ********** */

.title {
  font-family: "Shojumaru", cursive;
}

#menu {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(../img/banner-img.jpeg) center/cover fixed no-repeat;
}
.special {
  border: 3px solid white;
  position: relative;
}

.special-text {
  font-family: "Oleo Script", cursive;
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  padding: 0 0.4rem;
}
/* ******ABOUT ******* */
.about-pictures {
  position: relative;
}
.about-image {
  position: absolute;
  width: 150px;
  transition: all 2s ease;
  opacity: 1;
}

.img-1 {
  left: 0%;
  top: 0%;
}
.img-2 {
  left: 20%;
  top: 20%;
  z-index: 25;
}
.img-3 {
  left: 40%;
  top: 35%;
  z-index: 20;
}
.img-4 {
  left: 40%;
  top: 0%;
  z-index: 10;
}
.img-5 {
  left: 0%;
  top: 35%;
}

.about-image:hover {
  outline: 5px solid red;
  outline-offset: 0.8rem;
  transform: scale(1.3);
  z-index: 30;
  opacity: 5;
  transition: all 1s ease;
}
.about-image2:hover {
  outline: 5px solid red;
  outline-offset: 0.8rem;
  transform: scale(1.4);
  z-index: 30;
  opacity: 5;
}
.about-image3:hover {
  outline: 5px solid red;
  outline-offset: 0.8rem;
  transform: scale(1.3);
  z-index: 30;
  opacity: 5;
}
.about-image4:hover {
  outline: 5px solid red;
  outline-offset: 0.8rem;
  transform: scale(1.3) r;
  z-index: 30;
  opacity: 5;
}
.about-image5:hover {
  outline: 5px solid red;
  outline-offset: 0.8rem;
  transform: scale(1.3);
  z-index: 30;
  opacity: 5;
}

.about-pictures:hover .about-image:not(hover) {
  opacity: 0.5;
}

/* *******REVIEW****** */

.review-img {
  width: 150px;
}

.review-item {
  background: rgba(255, 255, 255, 0.7);
}
.review-item:hover {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}

.review-item:not(hover) {
  transition: all 1s ease-in-out;
}

.height-60 {
  min-height: 60vh;
}

#contact .card {
  background: rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

#contact .card:hover {
  background: rgba(0, 0, 0, 0.8);
}

#contact .card-header {
  color: white;
}

#contact .input-group-text {
  background: white;
  border-color: white;
  color: black;
}

#contact .card input::placeholder {
  color: blue;
}

.contact-btn {
  color: white;
  border-color: white;
  background: transparent;
  transition: all 0.2s ease-in-out;
}

.contact-btn:hover {
  background: blue;
  color: white;
}

/*******Footer*******/
#back-to-top {
  background: red;
  border-radius: 10px;
  display: inline-block;
}

.scrollTop {
  position: fixed;
  bottom: 70px;
  right: 10px;
}

/* Bounce in effect */

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-duration: 0.75s;
  animation-name: bounceIn;
}
